.suo
*.user
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/
backend/Loja.API/.vs/Loja.API/config/applicationhost.config
backend/Loja.API/.vs/Loja.API/DesignTimeBuild/.dtbcache.v2
backend/Loja.API/.vs/Loja.API/v17/.futdcache.v1
backend/Loja.API/Migrations/20220430020535_CriandoTabelas.cs
backend/Loja.API/Migrations/20220430020535_CriandoTabelas.Designer.cs
backend/Loja.API/Migrations/20220501230015_AdicionandoTabelas.cs
backend/Loja.API/Migrations/20220501230015_AdicionandoTabelas.Designer.cs
backend/Loja.API/Migrations/20220501231858_AdicionandoUser.cs
backend/Loja.API/Migrations/20220501231858_AdicionandoUser.Designer.cs
backend/Loja.API/Migrations/20220501234144_AlterandoUser.cs
backend/Loja.API/Migrations/20220501234144_AlterandoUser.Designer.cs
backend/Loja.API/Migrations/20220501234640_AlterandoUserOk.cs
backend/Loja.API/Migrations/20220501234640_AlterandoUserOk.Designer.cs
backend/Loja.API/Migrations/20220502024037_NemSeiOQueAdd.cs
backend/Loja.API/Migrations/20220502024037_NemSeiOQueAdd.Designer.cs
backend/Loja.API/Migrations/20220507025910_AlteradoParcelamento.cs
backend/Loja.API/Migrations/20220507025910_AlteradoParcelamento.Designer.cs
backend/Loja.API/Migrations/20220507131753_UserChanges.cs
backend/Loja.API/Migrations/20220507131753_UserChanges.Designer.cs
backend/Loja.API/Migrations/LojaDbContextModelSnapshot.cs
